@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
    --primary-color: #8ECAE6;
    --secondary-color: #219EBC;
    --text-dark: #FB8500;
    --text-light: #FFB703;
    --primary-font: 'Gloria Hallelujah', cursive;
    --secondary-font: 'Gloria Hallelujah', cursive;
    /* other colors #023047, #FFB703, #FB8500 */
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: linear-gradient(135deg, var(--secondary-color), var(--text-dark));
    color: #023047;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

header h2 {
    font-size: 1.5rem;
    margin: 5px 0 0 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-light);
    font-weight: bold;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

header nav ul li a:hover {
    transform: scale(1.1);
    background-color: var(--text-dark);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

canvas {
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
}

.game-info {
    margin-top: 20px;
    text-align: center;
}

.game-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.game-info p {
    font-size: 1.2rem;
}
