body {
    width: 600px;
    border: .25px solid black;
    padding: 50px;
    margin: 10px;
    line-height: 1.5;
}
main {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
li {
    padding-top: 10px;
    padding-bottom: 10px;
}
header {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 10px;
}
h1 {
    font-size: 50px;
}
h2 {
    color: #006EB6;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}
.logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}